* {
  margin:0px;
  padding:0px;
}

#octocat {
  display: block;
  width:384px;
  margin: 50px auto;
}

p {
  display: block;
  width: 400px;
  margin: 50px auto;
  font: 30px Monaco,"Courier New","DejaVu Sans Mono","Bitstream Vera Sans Mono",monospace;
  background: #FFBB00;
  box-shadow: -4px -4px 4px rgba(255, 192, 19, 0.2), 4px 4px 4px rgba(0, 0, 0, 0.35), inset -5px -5px 6px #C39003, inset 5px 5px 5px rgba(255, 235, 180, 0.5);
}
